<section class="contact-section sec-padding">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2 style="margin-right: 430px;">Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="contact-container">
                <div class="contact-form">
                    <form>
                        <div class="row">
                            <div class="input-group">
                                <input type="text" placeholder="Name" class="input-control" required>
                            </div>
                            <div class="input-group">
                                <input type="text" placeholder="Email" class="input-control" required>
                            </div>
                            <div class="input-group">
                                <textarea class="input-control" placeholder="Message" required></textarea>
                            </div>
                            <div class="submit-btn">
                                <button type="submit" class="btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="contact-info">
                    <div class="contact-info-item">
                        <h3> Email </h3>
                        <p>vinayakgold1&#64;gmail.com</p>
                    </div>
                    <div class="contact-info-item">
                        <h3> Phone </h3>
                        <p>8951398375</p>
                    </div>
                    <div class="contact-info-item">
                        <h3> Follow Me </h3>
                        <div class="social-links">
                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>